* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body {
    height: 100%;
}
.container{
    width: 60%;
    margin: auto;
}
.contant-container {
    margin-top: 32px;
    width: 90%;
    height: 675px;
    display: flex;
    
}

.contant-container .img-b {
    width: 100%;
    height: 100%;
}
.contant-container .img-s {
    position: absolute;
    bottom: 10%;
    width: 55%;
    left: 33%;
    height: 86%;
    margin: 0;
    padding: 0;
}
.img-a {
    position: relative;
    width: 380px;
    height: 581px;
    flex: 1.3;
}
form {
    padding-top: 10px;
    display: flex;
    flex: 1 1 0%;
    width: 350px;
    height: 410px;
    border: 1px solid rgb(225, 222, 222);
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;
}
form img {
    padding-top: 15px;
    width: 174px;
    height: 118px;
    align-self: center;
    margin-bottom: 10px;
}
form input {
    font-size: 12px;
    color: black;
    background-color: whitesmoke;
    width: 258px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 9px 0 7px 8px;
    border: 1px solid rgb(225, 222, 222);
    border-radius: 2px;
    box-sizing: border-box;
}
.pass {
    margin-bottom: 15px;
}
.or-a {
    margin: 14px 40px 22px;
}
.or-flex {
    display: flex;
}
.line-1 , .line-2 {
    height: 1px;
    width: 40%;
    background-color: rgb(225, 222, 222);
    flex-shrink: 1;
    margin: auto auto;
}
.or {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-right: 5%;
    margin-left: 5%;
}
.link-face {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.link-face span {
    cursor: pointer;
    color: rgb(0, 94, 255);
}
.link-face i {
    display: flex;
    align-items: center;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 94, 255);
}
.forget {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    cursor: pointer;
}
.signup {
    align-items: center;
    background-color: rgb(var(--ig-primary-background));
    border: 1px solid rgb(225, 222, 222);
    border-radius: 1px;
    box-sizing: border-box;
    width: 357px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
    top: 3%;
    left: -0.9;
    vertical-align: baseline;
    justify-content: center;
}
.signup span {
    font-weight: 400;
    color: gray;
}
.signup a {
    text-decoration: none;
    color: rgb(18, 160, 255);
    margin-left: 5px;
}
.app {
    display: flex;
    flex-direction: column;
}
.app-span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 10px;
}
.app-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.app-icons img {
    width: 120px;
    height: 55px;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
}
.tags p {
    margin-left: 25px;
}
.tags p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.lang {
    display: flex;
    justify-content: center;
    color: gray;
}
.lang select {
    margin-right: 15px;
    border: 0;
    outline: 0;
    color: gray;
}
.DEV {
    display: flex;
    align-items: center;
    background-color: rgb(149, 146, 146);
    justify-content: center;
    margin-top: 20px;
}
/* media  query */
/* laptop s landscape */
@media screen and (max-width:1025px) {
    .container {
        width: 89%;
    }
}
/* tablet landscap */
@media screen and (max-width:769px){
    .container {
        width: 100%;
    }
    .img-a {
        flex: 1;
    }
    form {
        flex: .5;
    }
    footer .tags {
        line-height: 2;
    }
}
/* mobile Landscap*/
@media screen and (max-width:501px) {
    .container {
        width: 90%;
    }
    .img-a {
        visibility: hidden;
        flex: 0;
    }
    form {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0 auto;
        margin-left: 42px;
    }
    .signup {
        width: 363px;
    }
}
